
       /* 폰트 */
       @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
       @font-face {
         font-family: 'LotteMartDream';
         font-style: normal;
         font-weight: 400;
         src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
       }
       @font-face {
         font-family: 'LotteMartDream';
         font-style: normal;
         font-weight: 700;
         src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
       }
       @font-face {
         font-family: 'LotteMartDream';
         font-style: normal;
         font-weight: 300;
         src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
       }
       @font-face {
        font-family: 'SDSamliphopangche_Outline';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'MaplestoryOTFBold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Cafe24Ohsquare';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Recipekorea';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'SDSamliphopangche_Basic';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
       /* 폰트 */
       html {
         font-family: 'LotteMartDream', sans-serif;
         scroll-behavior: smooth;
       }
       
       .tui-editor-contents > pre > code{
        font-family: 'LotteMartDream', sans-serif;
        font-size:16px;
       }
       
       /* 노말라이즈 */
       body{
           overflow-x: hidden;
       }
       body, ul, li {
         margin:0;
         padding:0;
         list-style:none;
       }
       a {
         color:inherit;
         text-decoration:none;
       }
       
       /* 라이브러리 */
       .con {
         margin-left:auto;
         margin-right:auto;
       }
       
       .bg-black {
         background-color:black;
       }
       
       .color-white {
         color:white;
       }

       i{
           margin:0 5px;
       }
       /* 커스텀 */
       .con-min-width {
         min-width:1200px;
       }
       
       .font-bold{
           font-weight: bold;
       }
       .float-right{
           float:right;
       }
       .block{
           display:block;
       }
       
        .width-100p-except-300px{
            width:calc(100% - 300px);
        }
       main {
           min-height:100vh;
       }
       
       .con {
         width:1200px;
         margin:0 auto;
       }
       .main-con{
           width:1000px;
           margin:0 auto;
       }
       .float-grid > *{
           float:left;
       }
       .float-grid::after{
           content:"";
           display:block;
           clear:both;
       }
       .flex{
           display:flex;
       }
       .flex-jc-c {
           justify-content: center;
       }
       .flex-jc-s {
           justify-content: flex-start;
       }
       .flex-dir-r {
           flex-direction: row;
       }
       .flex-jc-s-ar{
           justify-content: space-around;
       }
       .flex-jc-s-bet{
           justify-content: space-between;
       }
       .flex-basis-50px{
           flex-basis: 50px;
           min-width:50px;
       }
       .flex-basis-100px{
           flex-basis:100px;
           min-width:100px;
       }
       .flex-basis-150px{
           flex-basis:150px;
           min-width:150px;
       }
       .flex-basis-200px{
           flex-basis: 200px;
           min-width:200px;
       }
       .flex-grow-1{
           flex-grow: 1;
       }
       .flex-ai-c{
           align-items: center;
       }
       .flex-ac-s-ar{
           align-content: space-around;
       }
       .flex-ac-s-bet{
           align-content: space-between;
       }
       .flex-ai-e{
           align-items: flex-end;
       }
       .flex-al-s-end{
           align-self: flex-end;
       }
       .flex-dir-col{
           flex-direction: column;
       }
       .flex-wrap{
           flex-wrap: wrap;
       }
       .height-100p{
           height:100%;
       }
       .width-100p{
           width:100%;
       }
       table,td{
           border-collapse: collapse;
       }
       .text-center{
           text-align: center;
       }

       /* 컨테이너 시작 */
       .container{           
           min-height:100vh;
       }
       /* 컨테이너 끝 */


   

      /* 스크롤탑 버튼 시작 */
      .scrolltop-button {
          position:fixed;
          bottom:40px;
          right:40px;
          display:none;
          width:50px;
          height:50px;
          background-color:black;
          border:2px solid white;
          color:white;
          font-size:25px;
          text-align: center;
          line-height: 50px;
          z-index:50;
          transition:transform .5s;
      }
      /* 스크롤탑 버튼 끝 */

       /* 사이드 바 시작 */
      .side-bar{
          color:gray;
          width:300px;
          height:100vh;
          background-color:#ffefee;
          position:fixed;
          z-index:500;
          margin-left:100%;
          transform:translateX(100%);
          transition:transform .5s;
          border-left:2px solid gray;
      }
      .side-bar .side-bar__logo{          
          width:120px;
          height:120px;
          margin-top:40px;
          background-image: url("logoimage/logo.png");
          background-position: center;
          background-size:200%;
          background-repeat: no-repeat;
          box-sizing: border-box;
          
      }
      .side-bar__menu-button{
          position:absolute;
          top:25px;
          right:25px;
          font-size:1.3rem;
      }
      .side-bar__menu-button:hover{
          cursor: pointer;
          color:black;
      }
    .side-bar>.side-bar__menu-box1>ul{
        text-align: center;
       margin-top:100px;
    }     
      .side-bar > .side-bar__menu-box1 > ul > li {
          font-size:1.2rem;
          transition:transform .3s;           
          position:relative;
          padding:15px 0;          
      }    
      .side-bar > .side-bar__menu-box1 > ul > li > a:hover{
          color:black;
          font-weight: bold;
      }  
      .side-bar > .side-bar__menu-box1 > ul > li div {          
          display:none;          
          position:absolute;   
      }
      .side-bar > .side-bar__menu-box1 > ul > li:hover  div {
          display:block;
        }
        .side-bar .side-bar__menu-box2 > ul > li > a:hover {
        color:black;
        font-weight: bold;
        }
        .side-bar__menu-box2 > ul > li {
            margin:15px 0;
        }
        .side-bar__menu-box2{
            margin-top:10px;
        }
    
    .side-bar__menu-box3{
        position:absolute;
        bottom:20px;
        font-size:1.5rem;
    }
    .side-bar__menu-box3 > ul > li {        
        margin:0 10px;
    }
    .side-bar__menu-box3 > ul > li > a:hover {
        color:black;
    }
       /* 사이드 바 끝 */

       /* 홈 화면 시작 */  
       .home_page{
        position: relative;
        height:100vh;       
        background: url("homeimage/home.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
       }
       .home_page::before{
        position:absolute;
        content:"";
        display:block;
        background-color:#00000094;
        z-index:1;
        width: 100%;
        height:100%;
       }
       .top-bar{
           position:relative;
           z-index:3;
           width:100%;   
           height:100px;
           
       }
       .logo_box {  
        
        height:100%;
           color:white;
           font-size:4rem;
           font-family: 'SDSamliphopangche_Outline';
           margin-left:140px;
       }
       .logo_box > a {
        height:100%;
       }
       .logo_box:hover > a { 
        color:rgb(255, 162, 75);
    }
       .menu_bar{  
           margin-right:340px;    
           color:white;
       }
       .menu_bar > ul {
           height:100%;
       }
       .menu_bar > ul > li {        
        font-family: 'SDSamliphopangche_Basic';
        margin:0 90px;
        font-size:2rem;
       }
       .menu_bar > ul > li > a{
        height:100%;
        display:flex;
        align-items: center;
       }
       .menu_bar > ul > li:hover {
        color:rgb(255, 162, 75);        
       }
    
       .menu_bar > ul > li > .menu_box_2 {
           display:none;
           position:absolute;  
           width:100%;
           height:100%;
           top:100%;
           left:0;
           color:black;
           background-color:rgba(0, 0, 0, 0.411);
           
       }
       .menu_bar > ul > li:hover > .menu_box_2 {
        animation:drop_down .5s;
        display:flex;
        
       }
       
       @keyframes drop_down{
        0%{
           height:0;
        }        
        100%{
            height:100%;
        }
    }
       
       
       .menu_box_2__board{
           text-align: center;
           margin-right:640px;
           font-size:1.3rem;
       }
       .menu_box_2__board > li {
           color:white;
           padding:10px 0;
       }
       .menu_box_2__board > li:hover {
        color:rgb(255, 162, 75);       
    }
    .menu_box_2__board > li > a {
        width:100%;
    }
    
   
       .home_page_textbox{
           position: absolute;
           z-index:3;
           top:50%;
           left:200px;
       }
       .home_page_textbox__text1 {
           color:white;
           font-size:4rem;
           font-family: 'Recipekorea';
       }
       .home_page_textbox__text1 > span {
           color:yellow;
       }
       .home_page_textbox__text2 {
           color:white;
           font-size:1.3rem;
       }
       .home_page_textbox__text2 > span{
           margin:20px 0;
       }
       .home_page_textbox__text2 > div {
           margin-bottom:4px;
       }
       /* 홈 화면 끝 */
       
       /* 게시판 페이징 시작 */
       .title-bar{
           margin-top:40px;
       }
       .title-bar__title-box{
           font-size:2rem;           
       }
       .searchBox {
           margin:15px 0;
       }
       .searchBox > div  {
            text-align: right;
       }
       .searchBox > div > input {
           height:20px;
       }
       .searchBox > div > button {
        height:20px;
        box-sizing: content-box;
    }
    
       .board-list {
           margin-top:40px;
           text-align: center;
       }
       .board-list .tag {
        background-color:#afafaf49;
        border-top:1px solid black;
       }
       .board-list > table{
           table-layout: fixed;
       }
       .board-list > table > tbody > tr:not(.line-separate){
           height:41px;
       }
       table > tbody.articles_notExists{
        display:none;
    }
       
       .board-list > table > tbody > tr > td {
           padding-top:10px;
           padding-bottom: 10px;   
           overflow:hidden;
		   white-space : nowrap;
	       text-overflow: ellipsis;
       }       
       .board-list > table > tbody > tr:not(.line-separate) > td{
           max-height:30px;
           box-sizing: border-box;           
           
       }
       .board-list > table > tbody > tr > td > a:hover{
           text-decoration: underline;        
       }
       .board-list > table > tbody > tr.tag > td{
           position:relative;
       }
       .board-list > table > tbody > tr.tag > td:not(:first-child)::before{
           content:"";
           display:block;
           clear:both;
           background-color:black;
           width:1px;
           height:15px;
           position:absolute;
           top:50%;           
           transform:translateY(-50%);
       }
       
       .board-list > table >  tbody > tr.line-separate > td{
           background-color:black;    
           width:1200px;
           padding:0;
           height:1px;
       }
      .board-list > table > tbody > tr:not(.tag) > .cell-title{
           text-align: left;
           padding-left:25px;
           margin-left:25px;           
           
       }
       
       
       :root{
       --cell-id__width:80px;
       --cell-writer__width:100px;
       --cell-regDate__width:160px;
       --cell-hit__width:70px;
       --cell-recommend__width:70px;
       --cell-title__width:calc(100% - var(--cell-id__width) - var(--cell-writer__width) - var(--cell-regDate__width) - var(--cell-hit__width) - var(--cell-recommend__width))
       }
       .board-list table > tbody > tr.tag > td.cell-title{
           text-align: center;
       }
       .board-list .cell-id{
           width:var(--cell-id__width);
       }
       .board-list .cell-writer{
           width:var(--cell-writer__width);
       }
       .board-list .cell-regDate{
           width:var(--cell-regDate__width);
       }
       .board-list .cell-hit{
           width:var(--cell-hit__width);
       }
       .board-list .cell-recommend{
           width:var(--cell-recommend__width);
       }
       .board-list .cell-title{
           width:var(--cell-title__width);
           height:10px;
           
       }
       .page-button {
           margin:35px auto;
       }
       .page-button  a:hover {
           text-decoration: underline;
       }
       .page-button > ul > li > .currentPage {
           font-weight: bold;
           font-size:1.4rem;
       }
       .page-button > ul > li > :not(.currentPage):hover {
        cursor: pointer;
    }
       .lastmovebutton {
        justify-content: flex-start;
           text-align:left;
       }
       .lastmovebutton > * {
        text-align:left;
    }
       .firstmovebutton{
           justify-content: flex-end;
           text-align: right;
       }
       .firstmovebutton > div {
           justify-content:flex-end;
       }
       /* 게시판 페이징 끝 */
       
       /* 게시물 상세보기 시작 */
       .article {
           margin-top:30px;
           min-height: 50vh;
       } 
       .article__title-bar{
        margin:20px 0;
        width:100%;
       }
       .article__title-bar > div:not(.article_title) {
           text-align: center;
       }
       .article__title-bar .article_id{
           position: relative;
       }
       .article__title-bar .article_id::after{
        content:"";
        display:block;
        background-color:black;
        width:1px;
        height:15px;
        position: absolute;
        top:0%;
        right:0%;
        
       }
       .article__title-bar{
           position: relative;
       }
       .article_title{
           padding-left:30px;           
           overflow:hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
           
       }
       .article__title-bar::after{
           content:"";
           display:block;
           background-color:black;
           height:2px;
           width:100%;
           position: absolute;
           top:125%;
       }
       .article .article_title{
           font-size:2rem;
       }
       .article_body {
           padding:20px 0;
       }       
       
       #viewer > .tui-editor-contents > pre {
        
        border-radius:20px;
    }
    #viewer > .tui-editor-contents > pre > code{
        font-family: 'LotteMartDream', sans-serif;
        font-size:16px;
    }

    .article_tags{
        margin:20px 0;
        font-size:1.3rem;
        
    }
    .article_tags > a {
        margin:0 5px;
        background-color:rgb(206, 206, 206);
        border-radius:10px;
        padding:10px;
    }


       #disqus_thread{
        border-top:2px solid black;
          
       }
       .article-move-button{
           border-top:2px solid black;
           box-sizing: border-box;
           padding:15px 0;
           
       }
       .article-move-button > div {
           margin-top:5px;
           margin-bottom: 5px;
       }
       .article-move-button > div > a:hover{
           text-decoration: underline;
       }
       .reply__section{
           padding:15px 0;
       }
       .reply-box__replys{
           margin:10px 0;
       }
       .reply-list {
           padding: 15px 0;
           border-bottom: 1px solid rgba(0, 0, 0, 0.2);
       }
       .reply-list > .reply_writer {
           text-align: center;
           border-right: 1px solid rgba(0, 0, 0, 0.6);
       }
       .reply-list > .reply_body {
           padding-left:20px;
       }
       .reply-list > .reply_regDate {
           padding-right:15px;
       }
        .page-button > div > ul > li > .currentPage {
           font-weight: bold;
           font-size:1.4rem;
       }
       .page-button > div > ul > li > :not(.currentPage) {
        cursor:pointer;
    }

       /* 게시물 상세보기 끝 */

       /* 통계 상세보기 시작 */
       .stat-box{
        position:relative;
        margin:100px auto;        
        border:6px solid #e2a787;
        border-radius:50px;
        background-color:#e2a787;
    }
       .articleChart{
           position:relative;
           margin-top:100px;
           margin-bottom:10px;
       }
       .articleChart > div {
           padding:20px;
       }
       .whole { 
        color:white;
        position:absolute;
        top:-40px;
        left:50%;
        transform: translateX(-50%);
        padding:15px;
        border:5px solid white;
        border-radius:10px; 
        background-color: #e2a787;
        text-align: center;
        font-size:3rem;
    }
       .articleChart > span {  
           padding:10px;
           border:4px solid white;
           border-radius:8px;         
           font-size:2rem;
           margin-left:auto;
           margin-right:auto;
           text-align: center;
           font-weight:bold;
           color:white;
       }
       .chartBox {
        margin-top:30px;           
        position:relative;
    }
    .chartBox:last-child{
        margin-bottom:100px;
    }
   
      
        /* 통계 상세보기 끝 */  
        
        /* 프로필 페이지 시작 */
        
       .profile_1{
        position:relative;            
        overflow:auto;       
        overflow:hidden;
        min-height:calc(100vh + 100px);
        background-color:#fffedb;
        background-image: url("profileimage/bg2.png");
        background-size:30%;
        background-repeat: no-repeat;
        background-position:center 380px;  
        padding-bottom:50px;      
       }
       .textbox {
        margin:0 auto;
        padding-top:60px;
           max-width:1200px;
           width:100%;
       }
       .text_short{         
           text-align: center;  
        font-family: 'Noto Sans KR',sans-serif;
           font-size:3rem;
           font-weight: bold;
       }
       .text_short > .name {
        font-weight: 900;
        color:#f8875a;
       }
       .text_short > div {
           font-size:4rem;
           margin-bottom:30px;
       }
     
       .showdetail {
        margin-top:50px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .hidedetail {
        padding:15px 0;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
      .button {
        width: 160px;
        height: 100%;
        font-family: 'yg-jalnan';
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        }
     
        
      .button:hover {
        background-color: #f89974;
        box-shadow: 0px 15px 20px rgba(229, 186, 46, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }

      #profile_detail {
          margin-top:500px;
          margin-bottom:100px;
          background-color:#fffedb;
          height:0px;
          position:relative;
      }
      .profile_box{
        height:90%;
        overflow: hidden;
        width:1400px;
        margin:40px auto 20px auto;
      }
      .profile_detail_box{
        height:100%;
      }
      .profile_detail_box__text1{
        height:100%;
         position:relative;

     }
     .bgimg{
         position:absolute;
         top:0;
         left:0;
         width:100%;
         height:100%;
        background-image: url("profileimage/deco.png");
        background-position:center center;
        animation:bgimg 3s linear infinite alternate;
        
     }
     @keyframes bgimg{
         0%{
            transform: translateY(15px);
         }
         100%{
            transform: translateY(-15px);
         }
     }
     .balloon_blue{         
         position:absolute;
         top:70px;
         left:70px;
     }
     .balloon_blue > img{
        width:40px;
        height:40px;
     }
     .profile_detail_box__text1{
         overflow: hidden;
         box-sizing: border-box;
         justify-content: center;
        font-family: 'yg-jalnan';
         height:100%;
         border:7px solid #f89974;
         border-radius:45px;
         background-color:white;
     }
     .profile_detail_box__text1 > ul {
         margin:auto auto;
         z-index:2;
     }
     .profile_detail_box__text1 > ul:first-of-type{
         margin-right:50px;
     }
     .profile_detail_box__text1 > ul:nth-of-type(2){
        margin-left:50px;
    }
     .profile_detail_box__text1 > ul > li {
         padding:10px 0;
     }
    
        .content-2{
            position:relative;            
            overflow:auto;
            background-image: url("profileimage/content-2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            overflow:hidden;
        }        
        .content-2::after{       
            position:absolute;
            top:0;
            left:0;
            width:100%;               
            height:100%; 
            content:"";
            display:block;
            z-index: 1;
            background-color:rgba(0, 0, 0, 0.65);
        }
        .content-2 > .outline {
            position:relative;
            width:700px;
            height:700px;
            margin:200px auto;
            text-align: center;
        }
        .content-2 > .outline > div:not(.circleline) {
            width:200px;
            height:200px;
            position:absolute;            
            border-radius:100%;
            font-weight: bold;
            text-align:center;
            line-height:200px;
            font-size:2rem;
            z-index:3;            
        }
        .content-2 > .outline > .circleline{
            position:absolute;
            width:700px;
            height:700px;
            left:50%;
            top:50%;            
            transform: translate(-50% , -50%);
            border:5px solid white;
            border-radius:100%;
            z-index:2;  
        }
        .content-2 > .outline > .circle1 {    
            left:50%;
            transform: translate(-50%,-50%);            
            background-color:#8482ff;          
        }    
        .content-2 > .outline > .circle2{            
            bottom:0;
            background-color:#f8e992;    
        }
        .content-2 > .outline > .circle3{
            bottom:0;
            right:0;
            background-color:#f89974;    
        }
        .content-2 > .outline > .circle4{
            background-color:white;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        .content-2 > .content-2__bg-text-box {
            z-index:3;
            position:absolute;
            top:120px;
            left:200px;
            padding:25px;
            border-radius:20px;
        }
        .content-2 > .content-2__bg-text-box::after{
            content:"";
            width:240px;
            height:3px;
            background-color:white;
            position:absolute;
            top:-30px;
            left:25px;
        }
        .content-2 > .content-2__bg-text-box > .content-2__bg-text{
            font-size:4rem;
            /*
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: white;
            -webkit-text-fill-color: transparent;
            */
            color:white;
        }
        
        /* 프로필 페이지 끝 */

        /* 방명록 페이지 시작 */
        .guestbook-list > div{
            width:100%;
            position:relative;
        }
        .guestbook-list > div > div {
            margin:40px 0;
            position:relative;
            width:60%;
        }
        .guestbook-list > div > div:nth-child(2n){
            position:relative;
            align-self:flex-end;
            
        }
        
        .guestbook-list > div > div > div.guestbook-title{
            position:relative;
            background-color:white;
            padding:15px;
            border-radius:15px;
            margin-top:5px;
            min-height:50px;
        }
        .guestbook-list > div > div:nth-child(2n+1) > div.guestbook-writer{
            position:absolute;
            top:-20px;
            left:20px;
        }
        .guestbook-list > div > div:nth-child(2n) > div.guestbook-writer{
            position:absolute;
            top:-20px;
            right:20px;
        }
        .guestbook-list > div > div:nth-child(2n+1) > div.guestbook-regDate{
            position:absolute;
            width:140px;
            bottom:10px;
            left:102%;
        }
        .guestbook-list > div > div:nth-child(2n) > div.guestbook-regDate{
           position:absolute;
           width:140px;
           bottom:10px;
           right:102%;
        }
        /* 방명록 페이지 끝 */

       /* 하단 로고 바 시작 */
       .bottom-logo-bar{
        height:200px;          
        background-color:rgb(34, 34, 34);
        color:white;
    }
    .bottom-logo-bar__logo-box {
        margin-top:40px;
        width: 100px;
        height:100px;
        background-image: url("logoimage/bottom_bar_logo.png");
        background-position: center;
        background-size: 200%;
        background-repeat: no-repeat;
    }
    
    .copyright-box{
        margin-top:40px;
        padding-left:100px;
    }
    .text-box > p {
        padding:0;
        margin:0;
    }
    .copyright-box > .text-box > ul > li {
        margin-right:20px;
    }
    .copyright-box > .text-box > ul > li > a > i {
        margin:0;
        padding:0;
    }
    .copyright-box > span{
        display:block;
        margin-top:35px;
    }
    /* 하단 로고 바 끝 */