
       /* 폰트 */
       @font-face {
         font-family: 'LotteMartDream';
         font-style: normal;
         font-weight: 400;
         src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
       }
       @font-face {
         font-family: 'LotteMartDream';
         font-style: normal;
         font-weight: 700;
         src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
       }
       @font-face {
         font-family: 'LotteMartDream';
         font-style: normal;
         font-weight: 300;
         src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
       }
       html {
         font-family: 'LotteMartDream', sans-serif;
       }
       
       /* 노말라이즈 */
       body, ul, li {
         margin:0;
         padding:0;
         list-style:none;
       }
       a {
         color:inherit;
         text-decoration:none;
       }
       
       /* 라이브러리 */
       .con {
         margin-left:auto;
         margin-right:auto;
       }
       
       .bg-black {
         background-color:black;
       }
       
       .color-white {
         color:white;
       }

       i{
           margin:0 5px;
       }
       /* 커스텀 */
       .con-min-width {
         min-width:1200px;
       }
       
       .font-bold{
           font-weight: bold;
       }
       .float-right{
           float:right;
       }
       
        .width-100p-except-300px{
            width:calc(100% - 300px);
        }
       
        .logo{
            font-size:2rem;
            padding:30px 0;
            display:inline-block;
        }
       
       .con {
         width:1200px;
         margin:0 auto;
       }
       .float-grid > *{
           float:left;
       }
       .float-grid::after{
           content:"";
           display:block;
           clear:both;
       }
       .flex{
           display:flex;
       }
       .flex-jc-c {
           justify-content: center;
       }
       .flex-dir-r {
           flex-direction: row;
       }
       .flex-jc-s-ar{
           justify-content: space-around;
       }
       .flex-jc-s-bet{
           justify-content: space-between;
       }
       .flex-basis-50px{
           flex-basis: 50px;
       }
       .flex-basis-100px{
           flex-basis:100px;
       }
       .flex-basis-150px{
           flex-basis:150px;
       }
       .flex-basis-200px{
           flex-basis: 200px;
       }
       .flex-grow-1{
           flex-grow: 1;
       }
       .flex-ai-c{
           align-items: center;
       }
       .flex-ai-e{
           align-items: flex-end;
       }
       .flex-al-s-end{
           align-self: flex-end;
       }
       .flex-dir-col{
           flex-direction: column;
       }
       .height-100p{
           height:100%;
       }
       table,td{
           border-collapse: collapse;
       }

       /* 컨테이너 시작 */
       .container{           
           min-height:100vh;
       }
       /* 컨테이너 끝 */

       /* 로고바 시작 */
       .logo-bar{           
           background-color:#afafaf;
           z-index:10;
       }
       .logo-bar > .logo-box{           
           font-size:2rem;
       }              
       /* 로고바 끝 */

       /* 메뉴바 시작 */
       .menu-bar {
           background-color:#afafaf;
           z-index:5;
       }
       
       .menu-bar ul {
           background-color:#afafaf;
           text-align: center;
       }       
       .menu-box ul > li {
        position:relative;
        }
       .menu-bar ul ul {
           display:none;
           position: absolute;
           top:100%;
           left:0;
           width:100%;  
           
          }   
      
       .menu-box ul > li:hover ul{
           display:block; 
           animation:drop_down .4s;           
       }
       @keyframes drop_down{
        0%{
            transform:translateY(-100%);
        }
        100%{
            transform:translateY(0%);
        }
    }
        
       .menu-box ul > li > a {
        display:block;
        padding:10px;
        
       }       
       
       .menu-box ul > li:hover > a {
        color:white;
        background-color:black;
       }
       .menu-box > ul > li:hover > a {        
        border-radius:10px 10px 0 0;
        z-index:1;
       }
       /* 메뉴바 끝 */

       /* 홈 화면 시작 */
       .home-title-box {
        margin:30px auto;
        font-size:3rem;
       }
       .home-body-box {
           margin:30px auto;
       }
       /* 홈 화면 끝 */
       
       /* 게시판 페이징 시작 */
       .title-bar{
           margin-top:40px;
       }
       .title-bar__title-box{
           font-size:2rem;           
       }
       
       .board-list {
           margin-top:40px;
           text-align: center;
       }
       .board-list .tag {
        background-color:#afafaf49;
        border-top:1px solid black;
       }
       
       .board-list > table > tbody > tr:not(.tag):not(.article-not-exists):hover {
           background-color:#afafaf49;
        
       }
       .board-list > table > tbody > tr > td {
           padding-top:10px;
           padding-bottom: 10px;       
       }       
       .board-list > table > tbody > tr > td > a:hover{
           text-decoration: underline;        
       }
       .board-list > table > tbody > tr.tag > td{
           position:relative;
       }
       .board-list > table > tbody > tr.tag > td:not(:first-child)::before{
           content:"";
           display:block;
           clear:both;
           background-color:black;
           width:1px;
           height:15px;
           position:absolute;
           top:50%;           
           transform:translateY(-50%);
       }
       
       .board-list > table >  tbody > tr > td.line-separate{
           background-color:black;    
           width:1200px;
           padding:0;
           height:1px;
       }
      tr:not(.tag) > .cell-title{
           text-align: left;
           padding-left:50px;
           margin-left:55px;
       }
       
       :root{
       --cell-id__width:80px;
       --cell-writer__width:100px;
       --cell-regDate__width:160px;
       --cell-hit__width:70px;
       --cell-recommand__width:70px;
       --cell-title__width:calc(100% - var(--cell-id__width) - var(--cell-writer__width) - var(--cell-regDate__width) - var(--cell-hit__width) - var(--cell-recommand__width))
       }
       .board-list table > tbody > tr.tag > td.cell-title{
           text-align: center;
       }
       .board-list .cell-id{
           width:var(--cell-id__width);
       }
       .board-list .cell-writer{
           width:var(--cell-writer__width);
       }
       .board-list .cell-regDate{
           width:var(--cell-regDate__width);
       }
       .board-list .cell-hit{
           width:var(--cell-hit__width);
       }
       .board-list .cell-recommand{
           width:var(--cell-recommand__width);
       }
       .board-list .cell-title{
           width:var(--cell-title__width);
       }
       .page-button {
           margin:35px 0;
       }
       .page-button  a:hover {
           text-decoration: underline;
       }
       .page-button > div > ul > li > span {
           font-weight: bold;
           font-size:1.4rem;
       }
       /* 게시판 페이징 끝 */
       
       /* 게시물 상세보기 시작 */
       .article {
           margin-top:30px;
           min-height: 50vh;
       } 
       .article__title-bar{
        margin:20px 0;
        
       }
       .article__title-bar > div:not(.article_title) {
           text-align: center;
       }
       .article__title-bar .article_id{
           position: relative;
       }
       .article__title-bar .article_id::after{
        content:"";
        display:block;
        background-color:black;
        width:1px;
        height:15px;
        position: absolute;
        top:0%;
        right:0%;
        
       }
       .article__title-bar{
           position: relative;
       }
       .article_title{
           padding-left:30px;
       }
       .article__title-bar::after{
           content:"";
           display:block;
           background-color:black;
           height:2px;
           width:100%;
           position: absolute;
           top:125%;
       }
       .article .article_title{
           font-size:2rem;
       }
       .article_body{
           border-bottom:2px solid black;
           
       }
       .article_body > span{
           display:block;
           padding:20px;
           font-size:1.1rem;

       }
       .article-move-button{
           border-top:2px solid black;
           box-sizing: border-box;
           padding:15px 0;
           
       }
       .article-move-button > div {
           margin-top:5px;
           margin-bottom: 5px;
       }
       .article-move-button > div > a:hover{
           text-decoration: underline;
       }


      
       .reply__section{
           padding:15px 0;
       }
       .reply-box__replys{
           margin:10px 0;
       }
       .reply-list {
           padding: 15px 0;
           border-bottom: 1px solid rgba(0, 0, 0, 0.2);
       }
       .reply-list > .reply_writer {
           text-align: center;
           border-right: 1px solid rgba(0, 0, 0, 0.6);
       }
       .reply-list > .reply_body {
           padding-left:20px;
       }
       .reply-list > .reply_regDate {
           padding-right:15px;
       }
        .page-button > div > ul > li > span {
           font-weight: bold;
           font-size:1.4rem;
       }

       /* 게시물 상세보기 끝 */

       /* 통계 상세보기 시작 */
       .stat-box li{
           margin:5px 35px;           
       }
       .stat-box > div {
           padding-top:20px;
       }
       .stat-box > div > ul > li {           
            padding:10px 0;
           list-style:disc;
          border-bottom: 2px solid black;
       }
     
       .stat-box > div > ul > li > ul > li{
           list-style:circle;
       }       
        /* 통계 상세보기 끝 */    

       /* 하단 로고 바 시작 */
       .bottom-logo-bar{
           margin-top:30px;
        background-color:#afafaf;
    }
    .copyright-box{
        padding-left:30px;
    }
    /* 하단 로고 바 끝 */